In [5]:
import re

In [17]:
text='''Modern humans arrived on the Indian subcontinent from Africa no later than 55,000 years ago.
Their long occupation, initially in varying forms of isolation as hunter-gatherers, has made
the region highly diverse, second only to Africa in human genetic diversity. Settled life
emerged on the subcontinent in the western margins of the Indus river basin 9,000 years ago,
evolving gradually into the Indus Valley Civilisation of the third millennium BCE. By 1200 BCE,
an archaic form of Sanskrit, an Indo-European language, had diffused into India from the northwest.
Its evidence today is found in the hymns of the Rigveda. Preserved by a resolutely vigilant oral
tradition, the Rigveda records the dawning of Hinduism in India. The Dravidian languages of
India were supplanted in the northern and western regions. By 400 BCE, stratification and exclusion
by caste had emerged within Hinduism, and Buddhism and Jainism had arisen, proclaiming social orders
unlinked to heredity.
My name is Indian Human Living in Jungle hahahahaha, aaaaaaaaaaah, my house number 8938382832,
my phone number is +916437987634 or 7336372187, gmail is triggeredinsan@gmail.com.'''

### search

In [6]:
re.search(r"humans", text, re.I) #re.I makes the data insensitive

In [7]:
re.search(r"human", text) #re.I makes the data insensitive

### match

In [11]:
re.match(r"Indian",text, re.I)

In [18]:
re.match(r"Modern", text, re.I)

Search & Match
Search- it search in entire text, and if it find searching text then it return match.
Match- it search in first place in text.

### sub

In [19]:
text="I brought new Audi and this audi was awsome"
re.sub("audi","BMW and Maruti",text.lower())

'i brought new BMW and Maruti and this BMW and Maruti was awsome'

### findall

In [27]:
text="I am Living in hell of  trauma hahahahaha thats joke on 8 may 1998 @$^/&342"
re.findall(r"[a-zA-Z]" , text)

['I',
 'a',
 'm',
 'L',
 'i',
 'v',
 'i',
 'n',
 'g',
 'i',
 'n',
 'h',
 'e',
 'l',
 'l',
 'o',
 'f',
 't',
 'r',
 'a',
 'u',
 'm',
 'a',
 'h',
 'a',
 'h',
 'a',
 'h',
 'a',
 'h',
 'a',
 'h',
 'a',
 't',
 'h',
 'a',
 't',
 's',
 'j',
 'o',
 'k',
 'e',
 'o',
 'n',
 'm',
 'a',
 'y']

In [28]:
text="I am Living in hell of  trauma hahahahaha thats joke on 8 may 1998 @$^/&342"
re.findall(r"[0-9]" , text)

['8', '1', '9', '9', '8', '3', '4', '2']

In [29]:
text="I am Living in hell of  trauma hahahahaha thats joke on 8 may 1998 @$^/&342"
re.findall(r"[a-zA-Z]*" , text)

['I',
 '',
 'am',
 '',
 'Living',
 '',
 'in',
 '',
 'hell',
 '',
 'of',
 '',
 '',
 'trauma',
 '',
 'hahahahaha',
 '',
 'thats',
 '',
 'joke',
 '',
 'on',
 '',
 '',
 '',
 'may',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [32]:
text="I am Living in hell of  trauma hahahahaha thats joke on 8 may 1998 @$^/&342"
re.findall(r"[a-zA-Z]+" , text)

['I',
 'am',
 'Living',
 'in',
 'hell',
 'of',
 'trauma',
 'hahahahaha',
 'thats',
 'joke',
 'on',
 'may']

In [33]:
text="I am Living in hell of  trauma hahahahaha thats joke on 8 may 1998 @$^/&342"
re.findall(r"[a-zA-Z]?" , text)

['I',
 '',
 'a',
 'm',
 '',
 'L',
 'i',
 'v',
 'i',
 'n',
 'g',
 '',
 'i',
 'n',
 '',
 'h',
 'e',
 'l',
 'l',
 '',
 'o',
 'f',
 '',
 '',
 't',
 'r',
 'a',
 'u',
 'm',
 'a',
 '',
 'h',
 'a',
 'h',
 'a',
 'h',
 'a',
 'h',
 'a',
 'h',
 'a',
 '',
 't',
 'h',
 'a',
 't',
 's',
 '',
 'j',
 'o',
 'k',
 'e',
 '',
 'o',
 'n',
 '',
 '',
 '',
 'm',
 'a',
 'y',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [31]:
text="I am Living in hell of  trauma hahahahaha thats joke on 8 may 1998 @$^/&342"
re.findall(r"[0-9]+", text)

['8', '1998', '342']

In [34]:
text="I am Living in hell of  trauma hahahahaha thats joke on 8 may 1998 @$^/&342"
re.findall(r"[0-9]*", text)

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '8',
 '',
 '',
 '',
 '',
 '',
 '1998',
 '',
 '',
 '',
 '',
 '',
 '',
 '342',
 '']

In [43]:
text="I am Living in hell of  trauma hahahahaha thats joke on 8 may 1998 @$^/&342"
re.findall(r"[0-9]+?", text)

['8', '1', '9', '9', '8', '3', '4', '2']